<div id="container-user">
	<!-- Top Bar -->
	<div class="topbar-wrapper"> 
		<div class="topbar"> 
			<div class="fill"> 
				<div class="container container_wide" id='topbar'> 

					<div id='topbar-column-one'>
						<form action=""> 
							<input type="text" id="search-form" placeholder="Search" /> 
						</form>
						<ul class="nav secondary-nav"> 
							<li class="menu"> 
								<a href="#" class="menu menu-left">Market </a> 
								<ul class="menu-dropdown right-dropdown"> 
									<% current_user.markets.each do |market| %>
									<li><a href="#"><%= market.name %></a></li> 
									<% end %>
									<li class="divider"></li> 
									<li><a href="#">Join new Market</a></li> 
								</ul> 
							</li> 
						</ul>
					</div>

					<div id='topbar-column-two'>
						<ul> 
							<li><%= link_to "New Post", new_post_path, :remote => true %></li> 
							<li><a href="#">My Posts</a></li> 
							<li><a href="#">Map</a></li>  
						</ul>
					</div>

					<div id='topbar-column-four'>
						<ul class="nav secondary-nav"> 
							<li class="menu"> 
								<a href="#" class="menu menu-right">Account Settings </a> 
								<ul class="menu-dropdown"> 
									<li><a href="#">Settings</a></li> 
									<li class="divider"></li> 
									<li>
										<% if user_signed_in? %>
										<%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>        
										<% else %>
										<%= link_to('Login', new_user_session_path)  %>  
										<% end %>
									</li>
								</ul> 
							</li> 
						</ul>
					</div>
				</div> 
			</div> <!-- /fill --> 
		</div> <!-- /topbar --> 
	</div> <!-- topbar-wrapper -->

	<div id='user_home'>

		<% @posts.each do |post| %>

			<!-- click binding to any click on post-container => ajax call to route  -->
			<div class="post-container modal-trigger hidden" href="#post-modal-trigger-<%= post.id %>" modal="#post-modal-<%= post.id %>">
				
				<div class='post'>
					<!-- <span class="message"></span> -->
					<% if post.price %>
						<span class="price"><%= number_to_currency( post.price, :unit => "$", :precision=>0) %></span>
					<% end %>

					<h1><%= truncate(post.title,  :length => 80, :omission => ' ...') %></h1>

					<p class='details'>
						<%= time_ago_in_words(post.created_at) %> ago by <%= link_to User.find_by_id(post.user_id).first_name, "#", :class=>"bold" %> <!-- &middot; 3 friends in common -->
					</p>

					<p>
						<% if post.state %>
							<span class="bold"><%= State.find_by_id(post.state_id).name %></span> &middot;&nbsp;
						<% end %>
						<%= truncate(post.description,  :length => 150, :omission => ' ...') %> 

						<% if post.description.length > 150 %>
							<%= link_to "more", "#", :class=>"red" %>
						<% end %>
					</p>

					<div class="post-images">
						<% if post.uploads.first %>
							<%= image_tag post.thumbnail %>
						<% end %>
					</div>
				</div>
			</div>
			
			<!-- ajax call to route  -->
			<a id="post-modal-trigger-<%= post.id %>" class="modal-link" href="/posts/<%= post.id %>.js" data-remote="true"></a>

			<!-- box to call modal box in -->
			<div id="post-modal-<%= post.id %>" class="modal hide">
				<!-- Data gets inserted here -->
			</div>
		
		<% end %>

		<!-- New Post Modal Form -->
		<div id="post-modal-new-container" class="modal hide">
			<!-- Data gets inserted here -->
		</div>
		
		<div id="bottom-bumper"></div>
	</div>	
</div>