<div class='sign-up-background'>
</div>
<div class='sign-up'>
	<div class='container'>
		<div class='row'>
			<div class='span10 columns sign-up-box offset3'>
				<p class='breadcrumb'>Account - Verify - <span class='active'>Social</span> - Markets - Location</p>
				<div class="page-header"> 
					<h2>Get Social</h2> 
				</div>
				<p><%= link_to "Connect your Facebook Account" , user_omniauth_authorize_path(:facebook), :class=>"btn large primary" %></p>

				<p><b>We highly recommend adding your Facebook profile to use as your MiscMarket profile for others in your network to identify common friends and therefore increase the trust level of the entire network.</p>
				<p>However, you can choose to <%= link_to "not add social features and move on to the next step.", user_market_add_path %>
			</div>
		</div>
	</div>
	<%= render 'shared/sign_up_footer' %>
</div>