<div class='sign-up-background'>
</div>
<div class='sign-up'>
	<div class='container'>
		<div class='row'>
			<div class='span10 columns sign-up-box offset3'>
				<p class='breadcrumb'>Account - <span class='active'>Verify</span> - Social - Markets - Location</p>
				<div class="page-header"> 
					<h2>Awaiting your confirmation</h2> 
				</div>
				<p>We really want you to join MiscMarket, but we just need you to confirm your email address: <span class="bold"><%= current_user.email %></span></p>
				<p>Click <%= link_to "here", new_user_confirmation_path, :class=>"content" %> to resend confirmation email again or <%= link_to('logout', destroy_user_session_path, :method => 'delete', :class=>"content") %> 
					to login with different user credentials.
				</p>
				<p>Please feel free to contact us at <%= mail_to "team@miscmarket.org", "team@miscmarket.org", :class=>"content" %> if you need any help or have trouble.</p>
			</div>
		</div>
	</div>
	<%= render 'shared/sign_up_footer' %>
</div>
