<div class='container' id="sign_up_footer">
	<p><%= link_to "About", miscmarket_about_path %> &middot; <%= link_to "Blog", "http://blog.miscmarket.org" %> &middot; <%= link_to "Contact", miscmarket_contact_path %> &middot; MiscMarket © <%= Date.today.year %> </p>
</div>