<%= form_for(@post,  :html=> {:multipart=> true}) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	<ul>
		<% @post.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :price %><br />
	<%= f.text_field :price %>
</div>
<div class="field">
	<%= f.label :description %><br />
	<%= f.text_area :description %>
</div>
<div class="field">
	<%= f.label :type_id %><br /> <!--  1 = for_sale , 2 = to_buy then to make category => otherx -->
	<%= select_tag "post[type_id]", options_from_collection_for_select(Type.all, "id", "name") %>
</div>

<div class="field">
	<%= f.label :category_id %><br />
	<%= select_tag "post[category_id]", options_from_collection_for_select(Category.all, "id", "name"), :prompt => "Select something" %>
</div>
<div class="field">
	<%= f.label :state %><br />
	<%= select_tag "post[state_id]", options_from_collection_for_select(State.all, "id", "name") %>
</div>

<div class="field">	
	<%= f.label :uploads %><br />
	<%= f.fields_for :uploads, :uploads do |upload_field| %>
		<%= upload_field.file_field :upload %>
	<% end %>
	
</div>
<div class="field">
	<% for market in current_user.confirmed_markets  %>
	   <%= check_box_tag "post[market_ids][]", market.id, @post.markets.include?(market) %> <%= market.name %> <br />
	<% end  %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
