<h1>Listing posts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Address</th>
    <th>Category</th>
    <th>Price</th>
    <th>Title</th>
    <th>Description</th>
    <th>Available</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.user_id %></td>
    <td><%= post.address_id %></td>
    <td><%= post.category_id %></td>
    <td><%= post.price %></td>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
    <td><%= post.availability %></td>
	<td><% post.uploads.each do |upload| %>
		<%= image_tag upload.upload.url(:large) %>
	<% end %></td>
  </tr>
<% end %>
</table>
