// Check if element alread been loaded
if( !$('#post-modal-new-container').hasClass("loaded") )
{
	//Insert content
	console.log("Loading post new form");
	$('#post-modal-new-container').append("<%= escape_javascript render(:file => 'posts/new_remote.html.erb') %>");
	$("#post-modal-new-container").addClass("loaded");
}

// Create resize window listener
$(window).bind("resize", adjustPostModalHeight);

// Create modal box
$("#post-modal-new-container").modal();

// When show event is fired
$('#post-modal-new-containe').on('show', function () {
	app.mapInit();
})

// Responsible to get height of window and adjust the container height/margin
function adjustPostModalHeight(){
	
}


// event listeners for the three types of posts
$(".post-modal-type").click(function(){
	var that = this;

	// Capture type_id 
	var type_id = $(that).attr("value");
	$("#post_type_id").val(type_id);

	// Create state
	$("#post-modal-step-1").hide();
	$("#post-modal-step-2").show();
	$("#post-modal-new-container").css({
		"height":"660px",
		"margin":"-310px 0 0 -240px"
	})
});

// When modal box is closed
$('#post-modal-new-container').on('hidden', function () {
	$("#post-modal-step-1").show();
	$("#post-modal-step-2").hide();
	$("#post-modal-new-container").css({
		"height":"240px",
		"margin":"-120px 0 0 -240px"
	})

})