<div id="post-modal-new">
	<%= form_for(@post,  :html=> {:multipart=> true}, :remote => true) do |f| %>
		<div id="post-modal-title">
			<h1>Add a new Post</h1><span id="close-post-modal">x</span>
		</div>

		<div id="post-modal-step-1">
			<div class="post-modal-type" value="1">
				<%= image_tag "announce.png" %>
				<h2>I'm selling</h2>
			</div>
			
			<div class="post-modal-type" value="2">
				<%= image_tag "announce.png" %>
				<h2>I'm buying</h2>
			</div>

			<div class="post-modal-type" value="3">
				<%= image_tag "announce.png" %>
				<h2>I'm subletting</h2>
			</div>
		</div>
		<div id="post-modal-step-2">
				<div id="post-modal-top">
					<%= f.text_field :title, :placeholder => "Add a title" %>

					<span id="price">$</span>
					<%= f.text_field :price, :placeholder => "Selling price" %>
					
					<%= f.text_area :description, :placeholder => "Add details of your post here (optional)" %>

					<%= select_tag "post[category_id]", options_from_collection_for_select(Category.all, "id", "name"), :prompt => "Select a category" %>
				</div>
				
				<div id="post-modal-uploads">
					<span>Images (optional)</span>
					<%= f.fields_for :uploads, :uploads do |upload_field| %>
						<%= upload_field.file_field :upload, :class=>"upload_field" %>
					<% end %>
				</div>

				<div id="post_market_ids">
					<span>Post visibility</span>
					<% for market in current_user.confirmed_markets  %>
					   <%= check_box_tag "post[market_ids][]", market.id, @post.markets.include?(market) %> <%= market.name %> <br />
					<% end  %>
				</div>

				<div id="post_location">
					<input id="post_address_search" placeholder="Located at: (optional)" size="30" type="text">
					<div id="post-modal-map">	
						<!-- Map gets populated in this div -->
					</div>
				</div>

				<div class="hidden">
					<%= f.text_field :type_id %>
				</div>
				
				<div id="post-modal-submit">
					<%= f.submit %>
				</div>
		</div>
	<% end %>
</div>