// Check if element alread been loaded
if( !$('#post-modal-<%= @post.id %>').hasClass("loaded") ){

	//Insert content
	$('#post-modal-<%= @post.id %>').append("<%= escape_javascript render(:file => 'posts/show.html.erb') %>");
	$('#post-modal-<%= @post.id %>').addClass("loaded");
	$("#post-modal-<%= @post.id %>").modal();
}
// Somehow need to reset views:
// Reset View in case already opened
// $(".post-modal-message-button").show();
// $('.post-modal-message').css({"top" : "500px"});

// Setup messaging click events
$(".post-modal-message-button").click(function(e){
	e.preventDefault();
	var button = this;
    var cancel = $(".post_message_cancel");

    $(button).hide();

	$('.post-modal-message').animate({
    	top: '80px'
  	}, 200, function() {
  		$(cancel).click(function(){
  			e.preventDefault();
    		$(button).show();

			$('.post-modal-message').animate({
    			top: '500px'
    		}, 200, function(){
    			//complcete
    		});
  		});
  	});
});

// Init pictures
$('.carousel').carousel()

// Maps | Images button
$(".post-modal-right-maps").click(function(){
	console.log("post-modal-right-maps");

	$('.post-modal-right').animate({
    	left: '-500px'
  	}, 200, function() {
  		$(".post-modal-right-images").click(function(){
			$('.post-modal-right').animate({
    			left: '0px'
    		}, 200, function(){
    			//complcete
    		});
  		});
  	});
});

$(".post-modal-right-images").click(function(){
	console.log("post-modal-right-images");

	$('.post-modal-right').animate({
    	left: '0px'
  	}, 200, function() {
  		$(".post-modal-right-map").click(function(){
			$('.post-modal-right').animate({
    			left: '0px'
    		}, 200, function(){
    			//complcete
    		});
  		});
  	});
});

// Initialize Map
app.mapInit();