<div class="post-modal-content">

	<div class="post-modal-left">	
		
		<div class="post-modal-user">
			<%= image_tag "/assets/users/image_user_2.jpg", :class=>"profile" %>
			<h2 class="user"><%= link_to User.find_by_id(@post.user_id).first_name, "#", :class=>"bold" %> &middot; Brooklyn</h2>
			<span>32 Friends in common</span>
		</div>

		<h1 class="post-modal-content-h1">
			<%= @post.title %>
		</h1>
		
		<p class='details'><%= time_ago_in_words(@post.created_at) %> ago</p>

		<!-- Scroll box if too much content -->
		<div id="post-modal-description">
			<p>
				<% if @post.state %>
					<span class="bold"><%= @post.state %></span> &middot;&nbsp;
				<% end %>
				<%= @post.description %>
			</p>
		</div>
	</div>

	<div class="post-modal-message-button">

		<a class="btn" href="">Write Message</a>

	</div>
	
	<div class="post-modal-message">
		
		<%= form_tag(message_post_path(:id => @post.id ), :id => 'message_form') do %>
				<%= label_tag 'current_user.email' %><br /> 
				<%= text_area_tag :message_content, "Hey @post.id! I was just looking around on BookHookup.org and I see that you are selling: How Children Develop for $80. I would like to purchase it from you.  Hope to hear back from you soon! Thanks!     -[buyer]" %>
					<%= link_to 'Cancel', '#', :class=>"btn post_message_cancel", :id=>"#post_message_#{@post.id}"%>
					<%= submit_tag 'Send', :class=>"btn" %>
		<% end %>

	</div>

	<div class="post-modal-right-container">	

		<div class="post-modal-right-buttons">
			<!-- Figure out logic here -->
			<button class="btn post-modal-right-images">Images</button>
			<% if @post %> 
				<button class="btn post-modal-right-maps">Map</button>
			<% end %>
		</div>

		<div class="post-modal-right">	

			<div id="myCarousel" class="post-images carousel">
			  	<!-- Carousel items -->
			 	<div class="carousel-inner">
			 		<%  @post.uploads.each do |upload| %>
			 			<% if upload == @post.uploads.first %>
			   	 			<div class="active item"><%= image_tag upload.upload.url(:large) %></div>
			    		<% else %>
			    			<div class="item"><%= image_tag upload.upload.url(:large) %></div>
			    		<% end %>
					<% end %>
			 	 </div>
			 	
			 	 <!-- Carousel nav -->
			  	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>

			<div id="post-modal-map" class="post-modal-map">
				<%= @post.address_id %>
			</div>
		</div>
	</div>
	<% if @post.price %>
		<span class="price"><%= number_to_currency( @post.price, :unit => "$", :precision=>0) %></span>
	<% end %>
</div>
