<div class='sign-up-background'>
</div>
<div class='sign-up'>
	<div class='container'>
		<div class='row'>
			<div class='span10 columns sign-up-box offset3'>
				<p class='breadcrumb'>Account - Verify - Social - <span class='active'>Markets</span> - Location</p>
				<div class="page-header"> 
					<h2>Join your Market</h2> 
				</div>

				<% if current_user.fb_id == "" %>
				<p>Seriously, just connect your Facebook account, we'll automatically add all the markets you are already in.</p><%= link_to "Connect your Facebook Account" , user_omniauth_authorize_path(:facebook), :class=>"btn primary" %>
				<% else %>
				<p>We saw that you were affiliated with the following networks and automatically added you to them since you have already verified through Facebook that you are or were once a member in that community.</p>
				<% end  %>
				<p><b><br />Please click on your college below and enter your school address so that we can verify you are part of their network. Send us an email at <%= mail_to "team@miscmarket.org", "team@miscmarket.org" %> if you want to add MiscMarket to your college.<b></p><hr>
					<!-- <h3 class="float_left">Search for your college:</h3><form id="college-search"><input class="xlarge" id="xlInput" name="xlInput" size="30" type="text"></form> -->
				
				<% @markets.each_slice(3) do |slice| %>
					<div class='row market_profiles'>
						<% slice.each do |market| %>
							<div class="span3 columns market_profile">
								<a href="#market_<%= market.id %>_form" class="fancyModal no-underline">
									<div class="market_profile_image">
										<img alt="market <%= market.name %>" class="market_logo" src="/assets/markets/market_<%= market.id %>.png">
									</div>
									<h5><%= market.name %></h5>

								</a>
								<div class="hidden">
									
									<div id="market_<%= market.id %>_form" style="width:400px;height:200px;overflow:auto;">
										<% if current_user.memberships.size == 0 %>
											<h4>Please enter your official school email address</h4>
											<%= form_tag(user_market_confirm_path(:market_id => market.id)) do %>
												<div class="field"> 
													<%= text_field_tag :email %>
												</div> 
													<%= submit_tag 'Send', :class=>"btn large primary verify_market_button" %>
											<% end %>
										<% else %>
											<% current_user.memberships.each do |membership| %>
												<% if membership.market_id == market.id %>
													<% if membership.confirmed_at %>
														<p>Already a member</p>
													<% else %>
														<p>Awaiting confirmation. Please check <%= membership.email %>. Resent Confirmation: <%= link_to "RIGHT NOW", user_market_reconfirm_path(:market => market) %></p>
													<% end %>
												<% else %>
													<%= form_tag(user_market_confirm_path(:market_id => market.id)) do %>
														<div class="field"> 
															<%= label_tag :message_content, 'College Email: Like example@cmu.edu' %><br /> 
															<%= text_field_tag :email %>
														</div> 
														<div class="actions"> 
															<%= submit_tag 'Send' %><p><%= link_to 'Cancel', '#', :class=>"post_message_cancel"%></p>
														</div> 
													<% end %>
												<% end %>
											<% end %>
										<% end %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
				<p><b><br />Send us an email at <%= mail_to "team@miscmarket.org", "team@miscmarket.org" %> if you want to add MiscMarket to your college.<b></p><hr>
				<%= link_to "Add Location", user_location_add_path %>
			</div>
		</div>
	</div>
	<%= render 'shared/sign_up_footer' %>
</div>



