<h1>Listing uploads</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Upload file name</th>
    <th>Upload content type</th>
    <th>Upload file size</th>
    <th>Upload updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.post_id %></td>
    <td><%= upload.upload_file_name %></td>
    <td><%= upload.upload_content_type %></td>
    <td><%= upload.upload_file_size %></td>
    <td><%= upload.upload_updated_at %></td>
    <td><%= link_to 'Show', upload %></td>
    <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
    <td><%= link_to 'Destroy', upload, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
