<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @upload.post_id %>
</p>

<p>
  <b>Upload file name:</b>
  <%= @upload.upload_file_name %>
</p>

<p>
  <b>Upload content type:</b>
  <%= @upload.upload_content_type %>
</p>

<p>
  <b>Upload file size:</b>
  <%= @upload.upload_file_size %>
</p>

<p>
  <b>Upload updated at:</b>
  <%= @upload.upload_updated_at %>
</p>


<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
