(Language has to be fixed - but roughly this would be the content of this page.)
<br>
<% if @error == 0 %>
Thanks for granting access.
<p>
You will now have to create a filter in Gmail. (short line politely stating that we unfortunately can't create it automatically for them).  Here are the steps to create the filter:
</p>

<p>
Once you're done - click "Filter Created".  It is essential that you create a filter before pressing continue otherwise your inbox will be spammed with email posts from MiscMarket!
</p>

<%= link_to "Filter Created", gmail_filter_created_path %>

<p>
If at any time you would like to discontinue with this service - click here.
</p>

<% else %>

<p>
A problem occured and we couldn't create labels in your gmail account.  Please try again(link to create GmailAccounts#create) and grant us access to your account.
</p>
<% end %>
