<h1> Gmail Authentication </h1>

<%= form_for(@gmail_account) do |f| %>
<div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>

Note: If you use a POP client (not IMAP) or often use the 'All Mail' tab on Gmail, this may not be the best option for you.  (Learn More).
