<script>
$(function(){
	$("a#thumb1").fancybox();
});
</script>
<div class="container_950 bumper">
	<div class='span-24'>
		<div class='span-16'>
			<h1>About</h1>
		</div>
		<div class='span-16'>
			<h2>Imagine Craigslist, Facebook and Google Maps rolled into one app called MiscMarket!</h2>

			<div class="span-16 last">
				<h3>Idea</h3>
			</div>
			<div class="span-16 last">
				<h4>Social Web + Maps + Mobile + Groups = Social Commerce done right!</h4>
				
				<div class="span-16 last">
					<div class="span-8">
						<p>As students, we have had our fair share of headaches to sell those last minute items such as the history book we never read or that lava lamp we bought on a whim. Online second-hand commerce is currently a hassle because it is disorganized and we have to make the difficult decision of trusting a seller we have never met. Furthermore, we are bombarded with ads and search results that are not relevant to our needs.</p>
						</div>
					<div class="span-8 last">
						<%= link_to image_tag('screenshots/thumbShot1.png'), "/images/screenshots/bigShot1.png", :id=>"thumb1" %> 			
					</div>
				</div>
				
				<p>We want to make it easier for you to buy and sell your things online with our simple approach to Social Commerce:</p>
				<ol class='number'>
					<li>
						<h4>Make it Convenient</h4>
						<p>Our recently launched web application is built with an easy-to-use user interface which allows buyers and sellers to post their items to MiscMarket, identify their location through Google maps and market their posts through their social media networks. Our application does the work of three websites and in the future we intend to launch a mobile application for Android and iPhone that will let you easily post to MiscMarket within minutes. We know it is essential for you to get your posts up easily and quickly without the need of a computer. The mobile app will be a core pillar to the MiscMarket information platform to make the application convenient when you are on the go.</p>
					</li>	
					<li>
						<h4>Make it Private</h4>
						<p>MiscMarket uses a closed user group model with social features from Facebook and Twitter. Similar to Facebook, the marketplace you enter is determined by the network you join such as Carnegie Mellon University or University of Pittsburgh. Therefore as a user you benefit from the trust that you have with your network while as a seller you are trusted because you reach a group of people beyond your immediate friends but still within your network!</p>
					</li>
					<li>
						<h4>Make it Relevant</h4>
						<p>MiscMarket is a user-generated and business-generated ad listing website. Unlike the Craigslist of today, we let users create and search classifieds in exclusive groups such as colleges, workplaces, and neighborhoods. Businesses can profit by targeting their advertising in this unique local environment because users are specifically coming to MiscMarket to sell and buy items. Users benefit because our ads will be relevant to their needs and will also allow them to compare second-hand items with similar items offered by businesses, which let’s them make the best choice.</p>
					</li>
				</ol>
				<p>Just check it out for yourself and simply <%= link_to 'sign up', new_user_registration_path, :class=>"content" %> with your CMU.edu or ANDREW.CMU.edu email address and check out what your fellow students are selling.</p>
				<p></p>
			</div>
			<div class="span-16 last">
				<h3>Team</h3>
			</div>
			<div class="span-16 last">
				<p>So who made all of this? MiscMarket was created at Carnegie Mellon by <%= link_to "Louis de Vallière", "http://www.LouisdeValliere.com", :class=>"content" %>, <%= link_to "Sidharth Jayadeep", "http://facebook.com/sidharth.jayadeep", :class => "content" %>, and <%= link_to "Mike Mu", "http://facebook.com/mikemoo", :class => "content" %>.</p>
				<p><%= link_to "More about us", miscmarket_team_path, :class=>"content" %><br /><br /></p>
			</div>
			<div class="span-16 last">
				<h3>Mobile Application</h3>
			</div>
			<div class="span-16 last">

				<div class="span-5">	
					<p>We are working on a mobile app for Android and iPhone that will let you easily post to MiscMarket within minutes. We know it is essential for you to get your posts up easily and quickly without the need of a computer. The mobile app will be a core pillar to the MiscMarket information platform.</p><p>We hope to launch the mobile application sometime after Spring Break.<br /><br /><br /></p>
				</div>
				<div class="span-11 last">
					<%= image_tag "screenshots/iphoneApp.png", :class=>"right" %>
					<%= image_tag "screenshots/androidApp.png", :class=>"right" %>
				</div>
			</div>
		</div>

		<!-- Navigation -->
		<div class='span-8 last welcome_link'>
			<ul class="top">
				<li><%= link_to "home", home_path %></li>
				<li><%= link_to "about", miscmarket_about_path , :class=>"active" %></li>
				<li><%= link_to "blog", "http://blog.miscmarket.org" %></li>
				<li><%= link_to "contact", miscmarket_contact_path %></li>
			</ul>
			<ul class="sub1">
				<li><%= link_to "team", miscmarket_team_path %></li>
				<li><%= link_to "tshirt", miscmarket_tshirt_path %></li>
			</ul>
		</div>
	</div>
</div>
<%= render 'shared/content_footer' %>
