<%= render 'shared/header_welcome' %>

<div class="container_950 bumper">
	<div class='span-24'>
		<div class='span-16'>
			<h1>Contact</h1>
		</div>
		<div class='span-16'>
			<p>Please feel free to contact us at <%= mail_to "team@miscmarket.org", "team@miscmarket.org", :class=>"content" %>.</p>
			
		</div>
		<div class='span-8 last welcome_link'>
			<ul class="top">
				<li><%= link_to "home", home_path %></li>
				<li><%= link_to "about", miscmarket_about_path %></li>
				<li><%= link_to "blog", "http://blog.miscmarket.org" %></li>
				<li><%= link_to "contact", miscmarket_contact_path, :class=>"active" %></li>
			</ul>
		</div>
	</div>
</div>
<%= render 'shared/content_footer' %>
