<div id="welcome_header">
	<!-- <%= image_tag 'welcome_map.png', :id=>'welcome_map' %> -->
	<div id='welcome_map'></div>
	<div class="container">
		<div id="welcome_content">
			<div id='welcome_info'>
				<%= link_to (image_tag 'logo.png'), home_path, :id=>"logo" %>
				<div id="welcome_slogan">
					<a href="/assets/miscmarketvid_v4-desktop.swf" id="button_movie" class="fancyModal">
						<%= image_tag "icon_play_movie.png", :class=>'button_movie' %>
						<h1 class='button_movie'>What is MiscMarket?</h1>
						<p class='button_movie'>Imagine Craigslist, Facebook and Google Maps rolled into one app.</p>
					</a>
				</div>
			
				<!-- <div id='welcome_movie_container' class="hidden">
					<h2>What's MiscMarket?</h2><a id="welcome_movie_back" href="#">Back</a>			
					<div id='movie'>
						<iframe src="http://player.vimeo.com/video/21574311" width="480" height="260" frameborder="0"></iframe>
						<p>Music Credit: Ghostwriter by RJD2</p>
					</div>
				</div> -->
			
				<div id="facebook_like">
					<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMiscMarket%2F175052989206405&amp;layout=standard&amp;show_faces=false&amp;width=430&amp;action=like&amp;colorscheme=dark&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:430px; height:35px;" allowTransparency="true"></iframe>
				</div>
			</div>

			<% if( !user_signed_in? ) %>
			<div id='welcome_register'>
				<h1>Sign up now</h1>
				<div id="user_sign_up">
					<div id='fb_add'>
						<div id='fb_add_button'>
							<%= link_to "Connect your Facebook Account" , user_omniauth_authorize_path(:facebook), :class=>"btn primary" %>
						</div>
						<p>Connecting helps everybody in the market see that you exist. We'll never post without your permission.</p>
					</div>
					<div id="email_register">
						<p><%= link_to "Or sign up through Email", new_user_registration_path %></p>
					</div>
					<%= link_to (image_tag('appStore.png', :id=>"app-store")), home_path , :id=>"app-store" %>
				
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class='container bumper'>
	<div class='row'>
		<div id="user_login" class='span11 columns'>				
			<% if(!user_signed_in?) %>
			<%= form_for("user", :url => user_session_path) do |f| %>
			<div id="login_details" class='login_container'>
				<table id='login_table'>
					<!-- <tr>
						<td><%= f.label :email, :id=>"email_label" %></td>
						<td><%= f.label :password, :id=>"password_label" %></td>
					</tr>-->
					<tr>
						<td><%= f.text_field(:email,:size => 21, :placeholder => "Email") %></td>
						<td><%= f.password_field(:password,:size => 21, :placeholder => "Password") %></td>
					</tr>
					<tr>
						<td><%= f.check_box :remember_me %><p><%= f.label :remember_me, :id=>"remember_me_label" %></p></td>
						<td>
							<p><%= link_to "Forgot", new_password_path("user"), :id=>"forgot_password" %> or
							<%= link_to "resend Confirmation?", new_user_confirmation_path, :id=>"get_confirmation" %></p>
						</td>
					</tr>
				</table>	
				<div id="submit_button">
					<%= f.submit 'Login', :class=>'btn large primary', :id=>"submit_button_input" %>
				</div>
			</div>
			<% end %>
			<% else %>
			<div class='columns'>
				<h1>Please confirm email address</h1>
			</div>
			<div class='columns'>
				<p>You are logged in, but you still need to confirm the email address you signed up with: <span class="bold"><%= current_user.email %></span></p>
				<p>Click <%= link_to "here", new_user_confirmation_path, :class=>"content" %> to resend confirmation email again or <%= link_to('logout', destroy_user_session_path, :method => 'delete', :class=>"content") %> 
				 to login with different user credentials.</p>
				<p>Please feel free to contact us at <%= mail_to "team@miscmarket.org", "team@miscmarket.org", :class=>"content" %> if you need any help or have trouble.</p>
			</div>
			<% end%>
		</div>
	</div>
</div>
<%= render 'shared/content_footer' %>
