<div class='sign-up-background'>
</div>
<div class='sign-up'>
	<div class='container'>
		<div class='row'>
			<div class='span10 columns sign-up-box offset3'>
				<p class='breadcrumb'>Account - Verify - Social - Markets - <span class='active'>Location</span></p>
				
				<div class="page-header"> 
					<h2>Where's home? <small>Optional</small></h2> 
				</div>
				
				<p>We won't share this with anybody except the people in your network.</p>
				
				<div id="map_canvas"></div>
				
				<%= form_for(@location, :url => user_location_signup_create_path) do |f| %>

				<div class="clearfix" id="user_first_name_div"> 
					<%= f.label :address_1 %>
					<div class="input"> 
						<%= f.text_field :address_1 %>
						<span id="user_first_name_hint" class="help-inline hidden">We need your first name</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_last_name_div"> 
					<%= f.label :address_2 %>
					<div class="input"> 
						<%= f.text_field :address_2 %>
						<span id="user_last_name_hint" class="help-inline hidden">We also need your last name</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_email_div"> 
					<%= f.label :city %>
					<div class="input"> 
						<%= f.text_field :city %>
						<span class="help-inline hidden" id="user_email_hint_missing">We want to keep in touch</span>
						<span class="help-inline hidden" id="user_email_hint_taken">Email used, <%= link_to "forget your password?", new_password_path("user") %></span>
						 <% if @location.errors.any? %>
							<script>
							// Bad
							$('.field_with_errors').removeClass('field_with_errors');
							
							$("#user_email_div").addClass("error");
							$("#user_email_hint_taken").fadeIn();							
							</script>
						 <% end %>
						
						<span class="help-inline hidden" id="user_email_hint_invalid">That doesn't look valid...</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_password_div"> 
					<%= f.label :zipcode %>
					<div class="input"> 
						<%= f.password_field :zipcode %>
						<span class="help-inline hidden" id="user_password_hint_missing">Missing your super secret password</span>
						<span class="help-inline hidden" id="user_password_hint_invalid">Needs to be at least 6 characters</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class='hidden'>
					<%= f.text_field :country %>
					<%= f.text_field :latitude %>
					<%= f.text_field :longitude %>
				</div>

				<div class="actions submit"> 
					<%= f.submit "Add Location", :class=>"btn primary" %>
				</div>
				<% end %>
				
				<%= link_to "Back", user_market_add_path, :class=>"btn large" %>
				<%= link_to "Finish", user_home_path, :class=>"btn large primary" %>
			</div>
		</div>
	</div>
	<%= render 'shared/sign_up_footer' %>
</div>