<h1>Listing locations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Available</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.user_id %></td>
    <td><%= location.address_1 %></td>
    <td><%= location.address_2 %></td>
    <td><%= location.city %></td>
    <td><%= location.zipcode %></td>
    <td><%= location.country %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.available %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
