<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @location.user_id %>
</p>

<p>
  <b>Address 1:</b>
  <%= @location.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @location.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @location.zipcode %>
</p>

<p>
  <b>Country:</b>
  <%= @location.country %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Available:</b>
  <%= @location.available %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
