<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="google-site-verification" content="RLJbdmQyfDrv-Id4R3m8wd7nWB6IBx4L6jAZT94-8a8" />
	
	<title>MiscMarket</title>

	<%= favicon_link_tag 'favicon.ico' %>
	<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

	<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/> 
	<meta content="MiscMarket" name="author"/> 
	<meta content="MiscMarket is a user generated and location-based ad listing website. MiscMarket lets you create and search user generated ads exclusively with Carnegie Mellon students." name="description"/> 
	<meta content="" name="keywords"/> 
	<meta content="index,follow" name="robots"/> 
	<meta content="31 days" name="revisit-after"/>

	<meta property="og:title" content="MiscMarket" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.miscmarket.org" />
	<meta property="og:site_name" content="MiscMarket.org" />
	<meta property="fb:admins" content="579100338, 826075242" />
	
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>	

</head>
<body>
	<!-- Notifications -->
	<% if flash[:alert] or flash[:notice] %>
		<div id="notice"> 
			<p><%= notice %></p>
			<p><%= alert %></p>
		</div>
		<%= javascript_tag "$('#notice').delay(100).slideDown().delay(2000).slideUp();" %>
	<% end %>
	
	<!-- Content -->
	<%= yield %>
	
	<!-- GetSatisfaction -->
	<script type="text/javascript" charset="utf-8">
	//   var is_ssl = ("https:" == document.location.protocol);
	//   var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	//   document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript" charset="utf-8">
	//   var feedback_widget_options = {};
	//   feedback_widget_options.display = "overlay";  
	//   feedback_widget_options.company = "miscmarket";
	//   feedback_widget_options.placement = "right";
	//   feedback_widget_options.color = "#222";
	//   feedback_widget_options.style = "idea";
	//   var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
</body>
</html>
