<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="google-site-verification" content="RLJbdmQyfDrv-Id4R3m8wd7nWB6IBx4L6jAZT94-8a8" />

	<title>MiscMarket
		<% if current_user %>
			| <%= current_user.email %>
		<% end %>
	</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>

	<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/> 
	<meta content="MiscMarket" name="author"/> 
	<meta content="MiscMarket is a user generated and location-based ad listing website. MiscMarket lets you create and search user generated ads exclusively with Carnegie Mellon students." name="description"/> 
	<meta content="" name="keywords"/> 
	<meta content="index,follow" name="robots"/> 
	<meta content="31 days" name="revisit-after"/>

	<meta property="og:title" content="MiscMarket" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.miscmarket.org" />
	<meta property="og:site_name" content="MiscMarket.org" />
	<meta property="fb:admins" content="579100338, 826075242" />
	<!-- <meta name="google-site-verification" content="qg-ltko3WpFp6qddv7gSTABeqp4yQBoo7LTkkFxOvSc" /> -->
	
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	<%= stylesheet_link_tag "application" %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:alert] or flash[:notice] %>
		<div id="notice"> 
			<p><%= notice %></p>
			<p><%= alert %></p>
		</div>
		<%= javascript_tag "$('#notice').delay(100).slideDown().delay(2000).slideUp();" %>
	<% end %>

	<%= yield %>
</body>
</html>


