<p>Welcome <%= @resource.email %> to MiscMarket</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>The MiscMarket Team</p>
