<div class='sign-up-background'>
</div>
<div class='sign-up'>
	<div class='container'>
		<div class='row'>
			<div class='span10 columns sign-up-box offset3'>
				<p class='breadcrumb'><span class='active'>Account</span> - Verify - Social - Markets - Location</p>
				<div class="page-header"> 
					<h2>Create your Account</h2> 
				</div>				<p>Tell us a little about yourself. Please fill in all the fields.</p>
				<%= form_for(@user, :url => registration_path("user"), :html => {:id => 'sign_up_form' }) do |f| %>

				<div class="clearfix" id="user_first_name_div"> 
					<%= f.label :first_name %>
					<div class="input"> 
						<%= f.text_field :first_name %>
						<span id="user_first_name_hint" class="help-inline hidden">We need your first name</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_last_name_div"> 
					<%= f.label :last_name %>
					<div class="input"> 
						<%= f.text_field :last_name %>
						<span id="user_last_name_hint" class="help-inline hidden">We also need your last name</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_email_div"> 
					<%= f.label :email %>
					<div class="input"> 
						<%= f.text_field :email %>
						<span class="help-inline hidden" id="user_email_hint_missing">We want to keep in touch</span>
						<span class="help-inline hidden" id="user_email_hint_taken">Email used, <%= link_to "forget your password?", new_password_path("user") %></span>
						 <% if @user.errors.any? %>
							<script>
							// Bad
							$('.field_with_errors').removeClass('field_with_errors');
							
							$("#user_email_div").addClass("error");
							$("#user_email_hint_taken").fadeIn();							
							</script>
						 <% end %>
						
						<span class="help-inline hidden" id="user_email_hint_invalid">That doesn't look valid...</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_password_div"> 
					<%= f.label :password %>
					<div class="input"> 
						<%= f.password_field :password %>
						<span class="help-inline hidden" id="user_password_hint_missing">Missing your super secret password</span>
						<span class="help-inline hidden" id="user_password_hint_invalid">Needs to be at least 6 characters</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class="clearfix" id="user_password_confirmation_div"> 
					<label for="user_password_confirmation">Confirm Password</label> 
					<div class="input"> 
						<%= f.password_field :password_confirmation %>
						<span class="help-inline hidden" id="user_password_confirmation_hint_missing">Missing your password confirmation</span>
						<span class="help-inline hidden" id="user_password_confirmation_hint_invalid">Doesn't match the above</span>
						<span class="help-inline hidden" id="user_password_confirmation_hint_length">Needs to be at least 6 characters</span>
					</div> 
				</div> <!-- /clearfix -->

				<div class='hidden'>
					<%= f.text_field :fb_id %>
					<%= f.text_field :fb_token %>
				</div>

				<div class="actions submit"> 
					<%= f.submit "Sign up", :class=>"btn primary" %>  <%= link_to "Cancel", root_path, :id=>"cancel_sign_up", :class=>"btn" %> &nbsp;<%= link_to "Terms of Service", miscmarket_terms_path, :id=>"terms_button" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= render 'shared/sign_up_footer' %>
</div>
